<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Epilappsy</title>
        <!-- Importing angularjs library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    </head>
    <body ng-app="myApp">
        <div class="main" ng-controller="MainController">
            <header>
                <h1>Welcome to Epilappsy!</h1>
                <h2>👩‍⚕️Control your crisis in three easy steps👨‍⚕️</h2>
            <main>

                        <h3>What was happening at the moment?</h3>
                        <div ng-repeat='factor in factors'>
                            <factor info='factor'></factor>
                        </div>

                        <!-- <h3>How long did your crisis last?</h3>
                        <div ng-repeat='crisis in crises'>
                            <crisis info='crisis'></crisis>
                        </div>

                        <h3>Which type of crisis did you have?</h3> -->

            </main>
            <footer>Livia de Castro e Mello - 2019</footer>
        </div>
        <!-- Modules -->
        <script src="src/app.js"></script>
        <!-- Controllers -->
        <script src="src/controllers/MainController.js"></script>
        <!-- Directives -->
        <script src='src/directives/crisis.js'></script>
        <script src='src/directives/factors.js'></script>
        <!-- Services -->
        <script src='src/services/crisisSave.js'></script>

    </body>

</html>
